apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ibsng-logs-pvc
  namespace: ibsng
  labels:
    app: ibsng
    component: application
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ibsng-data-pvc
  namespace: ibsng
  labels:
    app: ibsng
    component: application
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ibsng-templates-pvc
  namespace: ibsng
  labels:
    app: ibsng
    component: application
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

